/.idea/.gitignore
/.idea/codeStyles/codeStyleConfig.xml
/.idea/gradle.xml
/.idea/jarRepositories.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/runConfigurations.xml
/.idea/uiDesigner.xml
/.idea/vcs.xml
/.idea/Zeiterfassung.iml
*.properties
*.json
zeiterfassung-web-bucher.properties
zeiterfassung.properties
defaultProlesTickets.json
