@import "../../../../../ui/app/pages/mainpage/view/MainWindowPage.css";

.loginFailedLabel {
    -fx-background-color: #F08080;
    -fx-background-radius:2;
    -fx-border-radius:2;
    -fx-border-width: 1 1 1 1;
    -fx-background-insets: 1;
    -fx-font-weight: bold;
}